/* Navigation container */
.navbar {
  background-color: #333;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
/* Navbar Unordered List */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Navbar List Items */
.navbar li {
  display: inline;
  margin-right: 1rem;
}
/* Navbar Links */
.navbar a {
    color: #fff;
    text-decoration: none;
}
/* Main Content & Home Section Styling */

/* Main Container offset for navbar */
main {
  padding-top: 5rem; 
}
/* General Section Styling */
main section {

  padding: 2em 1em;
  text-align: center;
}
/* home section Heading & Paragraph */
#HOME h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
#HOME p {
  font-size: 1.2rem;
  color: #666;
}
/* PORTFOLIO Section */

/* portfolio Flex Container */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
/* portfolio Individual cards */
.portfolio-item {
  flex: 1 1 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s 

}
/* portfolio  card hover Effects */
.portfolio-item:hover {
  transform: scale(1.05);
}
/* portfolio  card topography */
.portfolio-item h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.portfolio-item p {
  margin-bottom: 1rem;
  color: #666;
}
/* portfolio  card  image */
.portfolio-item img {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/* footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

